* {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html {
    background-image: url(https://i.imgur.com/MqDCwHV.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body { background: none; }

.card {
    box-shadow: 10px 10px 15px black;
}