<div class="container-fluid row">
	<div class="col">
		<div class="card text-white bg-dark">
			<div class="card-body">
				<form>
					<div class="form-group">
						<label for="nick">Nick</label>
						<input type="text" class="form-control" id="nick" placeholder="Enter your nick to begin" ng-model="$ctrl.nick">
					</div>
					<button type="submit" class="btn btn-primary" ng-click="$ctrl.start()" ng-disabled="$ctrl.nick.length < 3">Begin</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card bg-info">
			<div class="card-header text-white">Scoreboard</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" ng-repeat="player in $ctrl.clicker.scoreboard|orderBy:'-clicks'">
					<div class="row">
						<div class="pull-right">{{player.clicks}} ({{player.cps|number:2}}/s)</div>
						<em>#{{$index+1}}</em>
						{{player.nick}}
					</div>
				</li>
			</ul>
			<div class="card-body text-white" ng-if="$ctrl.clicker.scoreboard.length == 0">Play some games first..</div>
		</div>
	</div>
</div>
